.btn-primary {
  background-color: blue;
}

.overview {
  margin-bottom: 10px;
}

.search-form {
  margin-top: 20px;
  padding: 20px;
}

.weather-forecast-temperature {
  font-size: 36px;
  opacity: 0.3;
}

.weather-app-wrapper {
  border: rgb(135, 135, 135);
  margin-top: 20px;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(135, 135, 135);
  opacity: 0.3;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

li {
  list-style: none;
  margin: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}
